<!DOCTYPE html>
<html>
<head>
	<title>Class playground</title>

	<style type="text/css">
		

		.person {
			border: 1px dotted black;
			margin: 10px;
			padding: 10px;
		}

		.person p {
			margin:0;
			padding:0;
		}

	</style>

	
<body>

	<h3>Review Source File</h3>
	<p>Run in the browser and check the console</p>

	<div class="container">
		<div id="people">
			<!-- I want to create this -->
			<div class="person">
				<p>Name: John Doe</p>
				<p>Account: Checking</p>
				<p>Balance: $5622</p>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
	<script type="text/javascript" src="js/data.js"></script>

	<script type="text/template" id="person-template">
		<div class="person">
			<p>Name: <%= name %> </p>
			<p>Account: <%= accountDescription() %> </p>
			<p>Balance: $<%= balance %></p>
		</div>
	</script>

	<script type="text/javascript">
		
		var account = accounts[0];
		console.log(account);

		// big honing html string

		var aPerson = "<div class='person'>" + 
			"<p>Name: " + account.name + "</p>" +
			"<p>Account: " + account.type + "</p>" +
			"<p>Balance: $" + account.balance + "</p>" +
			"</div>";

		$('#people').append(aPerson);

		// element by element

		var qDiv = $("<div>", {
			"class": "person",
			id: 1
		});

		qDiv.append( $("<div>", { text: "Name: " + account.name }) );
		qDiv.append( $("<div>", { text: "Type: " + account.type }) );
		qDiv.append( $("<div>", { text: "Balance: $" + account.balance }) );

		$('#people').append(qDiv);

		var account2 = accounts[1];


		var PersonTempate = $('#person-template').html();

		//var account2html = _.template(PersonTempate, account2);
		//$('#people').append(account2html);

		var helpers = {
			accountDescription: function() {
				return this.type == 0 ? "checking" : "savings";
			}
		}

		_.extend(account2, helpers);

		console.log(account2.accountDescription());

		var account2html = _.template(PersonTempate, account2);
		$('#people').append(account2html);

	</script>

	<script type="text/javascript">



	</script>

</body>
</html>